body {
    background-color: #AA6DA3;
}

p {
    font-family:'Original Surfer', cursive;
    background-color: #B118C8;

}

h1 {
    font-family: 'Lobster', cursive;
    color: white
}

h2 {
    font-family: 'Bangers', cursive;
    color: white
}

h3 { 
    font-family: 'Bangers', cursive;
    color: white
}
div {
    font-family: 'Righteous', cursive;

}
img {
    border-style: double;
    border-color: white; 
    border-width: thick;
    height:370px;
    width: 393px;
}
table {
    border-style: groove;
    border-color: #CCD5FF;
    border-width: thick;
}
#achievements {
    color: #7CC6FE
}
div {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
#ptwo{
    background-color: #7CC6FE;
}